@import "@fontsource/poppins";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/300.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  height: 100vh;
  /* --light-bg-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --dark-bg-gradient: linear-gradient(120deg, #121212 0%, #1e1e1e 100%); */
}

body {
  background-color: #f1f1f1;
  transition: background-image 0.5s ease-in-out;
}

[data-theme="light"] {
  background-image: var(--light-bg-gradient);
}

[data-theme="dark"] {
  background-image: var(--dark-bg-gradient);
}

p {
  font-size: 9pt;
}
h1 {
  font-size: 2em; /* 2em = 32px assuming default font size of 16px */
}

h2 {
  font-size: 1.5em; /* 1.5em = 24px */
}

h3 {
  font-size: 1.17em; /* 1.17em = 18.7px */
}

h4 {
  font-size: 1em; /* 1em = 16px */
}

h5 {
  font-size: 0.83em; /* 0.83em = 13.3px */
}

h6 {
  font-size: 0.67em; /* 0.67em = 10.7px */
}

button {
  @apply bg-amber-500;
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 8pt !important;
  transition: transform 0.2s ease; /* Smooth movement */
}

button:hover {
  @apply text-white;
  @apply bg-yellow-500;
  @apply transition;
  @apply duration-200;
}

button,
input:not([type="radio"]) {
  padding: 10px;
  border-radius: 12px;
  font-size: 9pt;
}

/* Apply specific styles to input types of text, email, and password */
input:not([type="radio"]) {
  background-color: rgb(224, 224, 224);
  width: 100%;
  /* outline: 1px solid rgb(168, 168, 168) !important; */
}

input:not([type="radio"]):focus {
  outline: 3px solid rgb(255, 214, 32) !important; /* Change to your preferred color */
  outline-offset: 2px;
}

.card {
  padding: 30px;
}

.card-sm {
  padding: 15px;
}

.card,
.card-0,
.card-sm {
  border-radius: 20px;
}

.m-auto {
  margin: auto;
}
.up-right {
  transition: transform 0.3s ease; /* Smooth movement */
}
.card-0 .up-right,
.card:hover .up-right,
.card-sm:hover .up-right {
  transform: translate(2px, -2px); /* Moves up-right */
}

.small-title {
  @apply text-gray-600;
}

.card,
.card-0,
.card-sm,
.border-thin {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}

.border-thin {
  outline: 1px solid rgb(209, 209, 209) !important;
}

.badge {
  @apply rounded-lg;
  @apply bg-gray-200;
  text-align: center;
  padding: 3px 5px;
  max-width: fit-content;
  font-size: 8pt;
}

.badge-green {
  @apply bg-green-400;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.up {
  transition: transform 0.3s ease; /* Smooth movement */
}

.up:hover {
  transform: translate3d(0px, -3px, 0px);
}

.auto-resize {
  min-height: 50px; /* Minimum height */
  max-height: 300px; /* Optional maximum height */
  overflow-y: auto; /* Show scroll when max height is reached */
  resize: none; /* Disable manual resizing */
}
