@import "@fontsource/poppins";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/300.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --light-bg-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --dark-bg-gradient: linear-gradient(120deg, #121212 0%, #1e1e1e 100%);
}

body {
  transition: background-image 0.5s ease-in-out;
}

[data-theme="light"] {
  background-image: var(--light-bg-gradient);
}

[data-theme="dark"] {
  background-image: var(--dark-bg-gradient);
}

p {
  font-size: 9pt;
}
h1 {
  font-size: 2em; /* 2em = 32px assuming default font size of 16px */
}

h2 {
  font-size: 1.5em; /* 1.5em = 24px */
}

h3 {
  font-size: 1.17em; /* 1.17em = 18.7px */
}

h4 {
  font-size: 1em; /* 1em = 16px */
}

h5 {
  font-size: 0.83em; /* 0.83em = 13.3px */
}

h6 {
  font-size: 0.67em; /* 0.67em = 10.7px */
}

input {
  margin-bottom: 8px;
}

button {
  @apply bg-amber-500;
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 8pt !important;
}

button:hover {
  @apply bg-yellow-500;
}

button,
input:not([type="radio"]) {
  padding: 10px;
  border-radius: 12px;
  font-size: 9pt;
}

/* Apply specific styles to input types of text, email, and password */
input:not([type="radio"]) {
  background-color: rgb(236, 236, 236);
  width: 100%;
  outline: 1px solid rgb(168, 168, 168) !important;
}

input:not([type="radio"]):focus {
  outline: 3px solid rgb(255, 214, 32) !important; /* Change to your preferred color */
}

.card {
  padding: 30px;
}

.card-sm {
  padding: 15px;
}

.card,
.card-sm {
  border-radius: 20px;
  outline: 1px solid rgb(209, 209, 209) !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}

.m-auto {
  margin: auto;
}

/* .component-button {
  outline: 1px solid rgb(209, 209, 209) !important;
  padding: 6px;
  background-color: transparent !important;
}

.component-button:hover {
  transform: scale(1.05);
  outline: 1px solid rgb(241, 197, 0) !important;
  color: rgb(241, 197, 0);
} */
